<html>
<head>
    <title>pypack index</title>
    <style type="text/css">
    body {
        font-family: Helvetica;
    }
    </style>
</head>
<body>
    <h1>borghq &mdash; python package build server</h1>
    <p>Turn your python packages into native DEB or RPM packages.</p>
    <p>Works with most packages on pypi, github and bitbucket. Try
        <a href="{{ url_for('build_from_pypi', name='stream', target='deb') }}">stream</a> from pypi.
    </p>

    <p>Other examples</p>
    <ul>
        <li><a href="{{ url_for('build_from_pypi', name='luigi', 
                        target='deb') }}">luigi</a> (deb)</li>
        <li><a href="{{ url_for('build_from_pypi', name='luigi', 
                        target='rpm') }}">luigi</a> (rpm)</li>
        <li><a href="{{ url_for('build_from_pypi', name='pandas', 
                        target='deb') }}">pandas</a> (deb)</li>
        <li><a href="{{ url_for('build_from_pypi', name='pandas',
                        target='rpm') }}">pandas</a> (rpm)</li>
    </ul>
    <p>Build from Github</p>
    <ul>
        <li><a href="{{ url_for('build_from_github', username='miku',
                        repo='gluish', target='deb') }}">miku/gluish</a> (deb)</li>
    </ul>

</body>
</html>